/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/assets/neww.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor:url('/assets/cursor.cur'), auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.logo img {
  height: 40px; /* Adjust the height as needed */
}

/* Navbar options hover effect */
.navbar-nav .nav-item:hover .nav-link {
  background-color: #2072a6; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
  border-radius: 5px; /* Add a slight border-radius on hover */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition effect */
}


.navbar-buttons {
  display: flex;
}
.navbar-brand img {
  border-radius: 50%;
  margin-right: 10px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu a.dropdown-item:hover {
  background-color: #3498db;
  color: white;
}

.button-group {
  margin-left: auto;
}

button {
  margin-left: 10px;
  color: #276a97;
  font-weight: bold;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  background-color: #f3f5f7;
}


body {
  margin: 0;
  text-align: center;
  /* font-family: 'Press Start 2P', cursive; */
  user-select: none;
  background-color: #ece5e5;
  color: #534444; 
}

header {
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;
  /* width: 431px; */
}

canvas {
  display: block;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  color: #3890e6;
}

#rules {
  margin-top: 75px;
  color: #fff; /* White text color */
}

ol {
  text-align: left;
  margin-bottom: 0;
}

li {
  margin-top: 2px;
  font-size: 0.8rem;
}

.score-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 6px;
  background: #5EE270;
}

#game {
  /* display: inline-block;
  background-color: #444; 
  box-shadow: 0px 1px 70px 10px #948a8a;
  border: 4px solid #c6c6c6;
  margin-bottom: 0;  */

  display: inline-block;
  background-color: #444;
  box-shadow: 0px 1px 70px 10px #948a8a;
  border: 4px solid #c6c6c6;
   margin: auto; /*Center both horizontally and vertically */
  margin-bottom: 0;
  position: absolute;
 
  left:0;
  margin-left: 20px;
  margin-top: 20px;
}

#camera-container {
  display: inline-block;
  /* margin-left: 50pxf; */
  vertical-align: top;
  position: absolute;

  right:0;
  margin-right: 50px;
}

/* video */
#vidcanvas {
  margin-top: 50px;
  border: 4px solid #c6c6c6;
  border-radius: 25px;
  box-shadow: 0px 1px 70px 5px #948a8a;
}

#rules {
  margin-top: 75px;
  color: #3f7ea8;
  font-size: 0.7rem;
  position:absolute ;
  /* left: 62rem; */
  /* top: -40rem; */
  font-weight: 900;
  font-style: italic;
}



.title{
  
  color:#3f7ea8;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-weight: bold;
  /* right: 35%; */
  position:absolute ;
  padding-bottom: 10px;
}

.card {
  width: 330px;
  height: max-content;
  background: linear-gradient(45deg, #3498db, #935dab); /* Gradient background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* padding: 1rem; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 50px;
  margin-bottom: 90px;
  vertical-align: bottom;
   /* Adjust margin as needed */
  align-items: flex-start;
  justify-content: left;
  transition: box-shadow 0.3s ease;
}

:fullscreen .card { 
  margin-bottom: 10%;
}
  .card:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-content{
    padding: 10px;
  }
  .card-info {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
  }
  
  .card-item {
      color: #eee; /* Lighter text color on the gradient background */
      font-size: 0.9rem;
      margin-bottom: 10px;
  }

  

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#loading-message {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px; /* Adjust the margin as needed */
}

#volumeSlider{
  margin-left: 35px;
}

.form-range {
  width: 67%;
  margin-left: 35px;
}


#flappy-bird-gif {
  width: 140px; /* Adjust the size as needed */
  height: auto;
}
